* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    padding:40px 50px;
}
header {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
ul {
    display:flex;
    list-style:none;
}
ul li {
    margin-left:30px;
}
li a {
    text-decoration: none;
    padding:20px;
}
header .Subscribe {
    background-color:#ff274b;
    border:1px solid transparent;
    border-radius:30px;
    padding:8px 20px;
    color:white;
}



























































































































































































































































































































































































































































































































































































































































































































































































































































































































































}